* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FDF5DF;
}

.nav-bar {
  height: 10vh;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #5EBEC4;
  background-color: #FDF5DF;
  margin-bottom: 20px;
}

.side-bar {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  height: 20vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  position: relative;
}

.side-bar h3 {
  color: #F92C85;
  font-size: 2em;
}

.side-bar select {
  font-size: 1.2em;
  font-family: 'Kalam', cursive;
  border: none;
  background-color: #F92C85;
  color: #FDF5DF;
  width: 14em;
  border-radius: 5px;

}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 60vw;
  height: 60vh;
  display: block;
  margin: auto;

}

#dog-photo {
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

button {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.4em;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  color: #F92C85;
}

button:hover {
  background-color: #F92C85;
  color: #FDF5DF;
}

button:active {
  background-color: #5EBEC4;
  color: #FDF5DF;
}